<!-- <div class="alertBox alert alert-success alert-dismissible fade show" role="alert">
    <strong class="alertMsg">MSG</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<style>
.alertBox {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%,-50%);
    margin: 0 auto;
}
</style> -->