<!DOCTYPE html>
<html lang="en">

<head>
  <title>Express File Upload</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="./js/main.js"></script>
</head>

<body>
  <div class="container text-center">
    <div class="form">
      <h1>Upload a photo!</h1>
      <!-- IMAGE UPLOAD FORM -->
      <form action="/uploads" enctype="multipart/form-data" method="POST">
      <!-- <form class='lol'> -->
        <input type="file" name="photo" multiple/>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <hr>

    <div class="row imgGallery">
      <% for(let i=0; i< imagesList.length; i++){ %>
      <img src="<%=imagesList[i]%>" alt="" class="img-responsive col-md-3 col-sm-4">      
      <%}%>
    </div>

  </div>
</body>

</html>