<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">WPixy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="form-inline">
      <select class="form-control-sm" id="setGrid">
        <option value="10">10</option>
        8<option value="12.5">8</option>
        <option value="20" selected>5</option>
        <option value="25">4</option>
        <option value="33.333">3</option>
        <option value="50">2</option>
        <option value="100">1</option>
      </select>
    </div>

    <form class="form-inline">
      <input class="form-control-sm mb-1 ml-2" type="search" placeholder="Tags" aria-label="Search">
      <button class="btn btn-sm btn-outline-info mb-1 ml-2" type="submit">Search</button>
    </form>
  </div>
</nav>