<form id="uploadForm">
    <input id="uploadImage" type="file" name="photo" multiple/ style="display: none">
    <button id="upload" class="btn btn-sm btn-outline-info">Upload</button>
    <button id="uploadSubmit" type="submit" class="btn btn-sm btn-outline-info">Submit</button>
</form>